@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Home page</li>
    </ol>

    <!-- Page Content -->
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    @if (User.IsInRole("Administrators"))
    {
    <a>lalalla</a>
    }

</div>